.footer {
  padding: 30px 0 23px 0;
  color: $clr-white;
  background: $gradient;
  font-size: 18px;
  span,
  a {
    display: block;
  }
  a {
    color: $clr-white;
    text-decoration: none;
  }

  &-outer {
    padding: 0 50px;
  }
  &-container {
    @media (max-width: $size-ipad-pro) {
      padding: 0 51px;
    }
    @media (max-width: $size-phone) {
      padding: 0;
    }
  }
  &-content {
    @include flex(row, space-between, center);
  }
  &-info {
    max-width: 691px;
    .info {
      &__title {
        font-weight: 600;
        margin-bottom: 30px;
        @media (max-width: $size-phone) {
          margin-bottom: 18px;
        }
      }
      &__text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
        @media (max-width: $size-phone) {
          margin-bottom: 17px;
        }
      }
      &__additional {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 23px;
        &:first-of-type {
          margin-bottom: 5px;
        }
        @media (max-width: $size-phone) {
          font-size: 12px;
        }
      }
    }
  }
  &-contacts {
    @media (max-width: $size-ipad-pro) {
      display: none;
    }
    .contacts {
      &__title {
        font-weight: 600;
        text-align: start;
        margin-bottom: 30px;
      }
      &__contact {
        display: block;
        text-decoration: none;
        opacity: 0.8;
        line-height: 23px;
        margin-bottom: 12px;
        &:last-of-type {
          margin-bottom: 0;
          text-transform: uppercase;
        }
      }
    }
  }
  &-copyright {
    display: block;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    opacity: 0.8;
    @media (max-width: $size-phone) {
      margin-top: 5px;
      order: 2;
    }
  }
  &-bottom {
    margin-top: 22px;
    @include flex(row, space-between, center, wrap);
    @media (max-width: $size-phone) {
      margin-top: 10px;
      flex-direction: column;
    }
  }
  &-dev {
    display: flex !important;
    @include flex(row, space-between, center, wrap);
    .dev {
      &-text {
        font-size: 18px;
        margin-right: 20px;
      }
      &-logo {
        @include wh(133.2px, 24px);
      }
      @media (max-width: $size-phone) {
        &-text {
          font-size: 18px;
          margin-right: 10px;
        }
        &-logo {
          @include wh(111px, 20px);
        }
      }
    }
    @media (max-width: $size-phone) {
      order: 1;
    }
  }
}
