.header {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  @media (max-width: $size-laptop) {
    padding: 20px 25px;
  }
  @media (max-width: $size-ipad-pro) {
    padding: 20px 35px;
  }
  @media (max-width: $size-ipad) {
    padding: 20px 35px;
  }
  @media (max-width: $size-phone) {
    padding: 28px 0;
  }
  &-container {
    max-width: 1322px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  &-flags-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 345px;
    @media (max-width: $size-phone) {
      max-width: 222px;
    }
    @media (max-width: $size-phone) {
      max-width: 220px;
    }
  }
  &-flag {
    margin: 0 15px 9px 0;
    @include wh(30px, 15px);
    &:nth-of-type(8n) {
      margin-right: 0;
    }
    &:nth-child(n + 9):nth-child(-n + 16) {
      margin-bottom: 0;
    }
    @media (max-width: $size-phone) {
      @include wh(19.23px, 9.62px);
      margin: 0 9px 5px 0;
    }
    @media (max-width: $size-iphone-se) {
      @include wh(19.23px, 9.62px);
      margin: 0 6px 3px 0;
    }
  }
  &-navbar {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    &-items {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $size-ipad-pro) {
        transition: 0.5s;
        top: -100vh;
        padding: 60px 20px;
        box-sizing: border-box;
        left: 0;
        max-width: 100%;
        width: 100%;
        z-index: 10000;
        position: fixed;
        flex-direction: column;
        height: 457px;
      }
    }
    &__item {
      margin-right: 15px;
      text-transform: uppercase;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  @media (max-width: $size-ipad-pro) {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background: $clr-white;
    &-navbar {
      z-index: 1000;
    }
    &-navbar-items {
      padding: 70px 0 32px 0;
      align-items: center;
      justify-content: space-between;
      transition: 0.3s;
      background: $clr-white;
      left: -4000px;
      top: 0;
      position: fixed;
      user-zoom: fixed;
      z-index: 600;
      flex-direction: column;
      width: 100vw;
      height: 224px;
      .header-navbar__item {
        margin: 0;
      }
      &.active {
        left: 0;
      }
    }
  }
}
