.btn {
  background: white;
  cursor: pointer;
  color: #373737;
  border: none;
  font-size: 20px;
  font-family: $font-source;
  &:hover {
    border: none;
  }
  &-burger {
    display: none;
    padding: 0;
    @media (max-width: $size-ipad-pro) {
      position: relative;
      z-index: 1005;
      display: flex;
      justify-content: center;
      align-items: center;
      @include wh(34px, 23px);
      box-sizing: border-box;
      span,
      span:after,
      span:before {
        border-radius: 7px;
        display: block;
        background: $clr-orange;
        content: "";
        width: 34px;
        min-width: 34px;
        height: 5px;
        min-height: 5px;
      }
      span {
        position: relative;
        &:after,
        &:before {
          position: absolute;
          left: calc(50% - 17px);
          top: calc(50% - 2.5px);
        }
        &:after {
          transition: 0.5s;
          margin-top: 9px;
        }
        &:before {
          transition: 0.5s;
          margin-top: -9px;
        }
      }
    }
    @media (max-width: $size-ipad-pro) {
      &.active {
        span {
          transform: rotate(-135deg);
        }
        span::after {
          margin: 0;
          transform: rotate(270deg);
        }
        span::before {
          display: none;
        }
      }
    }
  }
  &-offer,
  &-request,
  &-submit {
    background: $clr-orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 51px;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-roboto;
    color: $clr-white;
    font-weight: 500;
    transition: 0.2s;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    @media (min-width: $size-laptop) {
      &:hover {
        background: $clr-orange-hover;
      }
    }
    @media (max-width: $size-iphone-se) {
      font-size: 15px;
    }
  }
  &-request {
    font-family: $font-source;
    line-height: 23px;
    padding: 6px 34px;
    @media (max-width: $size-phone) {
      font-size: 18px;
    }
    @media (max-width: $size-iphone-se) {
      font-size: 17px;
    }
  }
  &-submit {
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include wh(33px, 33px);
    @include flex(row, center, center, nowrap);
    @media (max-width: $size-phone) {
      @include wh(33px, 33px);
    }
    @media (max-width: $size-iphone-se) {
      @include wh(33px, 33px);
    }
    img {
      @include wh(14px, 11px);
    }
  }
}
