$gradient: linear-gradient(90.4deg, #ffa15b 50.9%, #ff5146 99.58%);

$font-source: "Source Sans Pro", sans-serif;
$font-roboto: "Roboto", sans-serif;

$clr-white: #fff;
$clr-orange: #fe6347;
$clr-orange-hover: #ff5146;
$clr-pink: #ff9f8e;
$clr-black: #000;
$clr-dark: #373737;
$clr-dark-lighten: #545454;

$title-size-pc: 36px;
$title-size-phone: 24px;
$subtitle-size-pc: 18px;

$size-desktop: 1440px;
$size-macbook: 1440px;
$size-laptop: 1366px;
$size-ipad-pro: 1024px;
$size-ipad: 768px;
$size-phone: 480px;
$size-iphone-se: 320px;
